.NoteContainer {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 16px;
    margin: 16px;
    background-color: rgb(118, 118, 48);
    border: solid 1px black;
    border-radius: 8px;
    position: absolute;
    z-index: 0;
}

.NoteContainer:hover {
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
}

.Title {
    color: white;
    margin: 8px 0;
    height: 24px;
    font-size: 20px;
    background-color: transparent;
    border: none;
    outline: none;
}

.ActionsContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.Title::placeholder {
    color: #acabab;
}

.CloseButton {
    outline: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: 16px;
    transition: 0.3s ease;
}

.CloseButton:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.Drag {
    background-color: transparent;
    cursor: move;
    width: fit-content;
    user-select: none;
}

.Drag img {
    width: 24px;
}


