.NoteContentInputList {
    color: white;
    outline: none;
    cursor: text;
    font-size: 16px;
}

.NoteContentInputList:empty:before {
    content: attr(data-placeholder);
    color: #acabab;
}

.NoteContentInputList input {
    vertical-align: bottom;
    appearance: none;
    background-color: transparent;
    border: 2px solid white;
    padding: 10px;
    border-radius: 4px;
    position: relative;
    outline: none;
    transition: 0.3s ease;
    margin-bottom: 0;
    margin-left: 0;
}

.NoteContentInputList input:checked {
    background-color: rgba(0, 0, 0, 0.2);
    border: 2px solid white;
    color: #99a1a7;
}

.NoteContentInputList input:checked:after {
    content: '\2714';
    font-size: 16px;
    position: absolute;
    top: 0;
    left: 3px;
    color: white;
}