.TopBar {
    display: flex;
    flex-direction: row;
    height: 5%;
    background: #213263;
    z-index: 500;
    align-items: center;
    justify-content: center;
}

.TitleText {
    color: #cccccc;
}