.TopBar {
    display: flex;
    flex-direction: row;
    height: 7%;
    background: #1a2f4e;
    z-index: 500;
    align-items: center;
    justify-content: center;
}

.TitleText {
    color: White;
    cursor: default;
    user-select: none;
    margin-right: auto;
    transform: translateX(50%);
    font-family: 'Raleway', sans-serif;
}

.NewNote {
    font-family: 'Raleway', sans-serif;
    padding: 6px;
    margin-right: auto;
    background-color: transparent;
    color: white;
    border-radius: 5px;
    border-style: solid;
    cursor: pointer;
    transition: 0.3s ease;
}

.NewNote:hover {
    background-color: rgba(10, 28, 50, 0.4);
}

.NewNote:disabled {
    color: #444444;
    border-color:#444444;
}

.Placeholder {
    margin-left: auto;
    margin-right: auto;
}
