.Authentication {
    width: 100vw;
    height: 100vh;
    background-color: rgb(10, 28, 50);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.Title {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 4em;
}

.SubHeading {
    margin-top: 0;
    color: white;
}