.SideBar {
    display: flex;
    flex-direction: column;
    background-color: rgba(69, 123, 157, 0.6);
    height: 100%;
    width: 300px;
}

.SideBar ul {
    list-style: none;
    align-self: center;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center;
}

.SideBar li {
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
    padding: 16px;
    font-size: 16px;
    color: white;
    transition: 0.3s ease;
    user-select: none;
}

.NewSetButton {
    margin: 16px;
    padding: 4px;
    background-color: transparent;
    outline: none;
    border-color: white;
    border-width: 2px;
    border-radius: 5px;
    cursor: pointer;
    border-style: solid;
    transition: 0.3s ease;
}

.NewSetButton:hover {
    background-color: rgba(10, 28, 50, 0.2);
}

.NewSetButton img {
    height: 32px;
}

.SideBar li:hover, .ActiveItem {
    background-color: rgba(10, 28, 50, 0.2);
}
