.SideBar {
    display: flex;
    flex-direction: column;
    background-color: rgba(69, 123, 157, 0.6);
    height: 100%;
    width: 300px;
}

.SideBar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.SideBar li {
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
    padding: 16px;
    font-size: 16px;
    color: white;
    transition: 0.3s ease;
    user-select: none;
}

.NewSetButton {
    margin: 16px;
    padding: 4px;
    background-color: transparent;
    outline: none;
    border-color: white;
    border-width: 2px;
    border-radius: 5px;
    cursor: pointer;
    border-style: solid;
    transition: 0.3s ease;
}

.DeleteButton {
    background-color: transparent;
    float: right;
    cursor: pointer;
    border: none;
    border-radius: 360px;
    outline: none;
    transition: 0.3s ease;
}

.DeleteButton:hover {
    background-color: rgba(10, 28, 50, 0.5);
}

.NewSetButton:hover {
    background-color: rgba(10, 28, 50, 0.2);
}

.NewSetButton img {
    height: 32px;
}

.SideBar li:hover, .ActiveItem {
    background-color: rgba(10, 28, 50, 0.2);
}

.Input {
    font-size: 16px;
    outline: none;
    padding: 8px;
    font-family: 'Raleway', sans-serif;
    height: 32px;
    margin: 8px;
    background-color: transparent;
    color: white;
    border: 2px solid;
    border-radius: 8px;
}

.Input::placeholder {
    color: #CCCCCC;
}

.InputContainer {
    text-align: center;
}

.InputButton {
    background-color: transparent;
    border: solid 2px white;
    border-radius: 8px;
    margin: 0 16px;
    padding: 8px;
    cursor: pointer;
    transition: 0.3s ease;
}

.InputButton:hover {
    background-color: rgba(0, 0, 0, 0.4);
}